Babel==2.3.4
cycler==0.10.0
debtcollector==1.8.0
decorator==4.0.10
eventlet==0.19.0
funcsigs==1.0.2
greenlet==0.4.10
matplotlib==1.5.3
msgpack-python==0.4.8
netaddr==0.7.18
networkx==1.11
numpy==1.11.1
oslo.config==3.15.0
oslo.i18n==3.8.0
pbr==1.10.0
pyparsing==2.1.9
python-dateutil==2.5.3
pytz==2016.6.1
repoze.lru==0.6
rfc3986==0.3.1
Routes==2.3.1
ryu==4.5
six==1.10.0
stevedore==1.17.0
virtualenv==15.0.3
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
WebOb==1.6.1
wrapt==1.10.8
